<div id="last-season-container">
    <div class="container-fluid">
        <div id="last-season-title">
            <img src="../../../../assets/icons/home/collection-play.svg" alt="">
            <h3>Últimos anime</h3>
        </div>
        <hr style="margin-top: 0.5rem; padding: 0px; color: black;">
        <div id="last-season-grid">
            <div class="item">
                Soy un item
            </div>
            <div class="item">
                Soy un item
            </div>
            <div class="item">
                Soy un item
            </div>
            <div class="item">
                Soy un item
            </div>
            <div class="item">
                Soy un item
            </div>
            <div class="item">
                Soy un item
            </div>
            <div class="item">
                Soy un item
            </div>
            <div class="item">
                Soy un item
            </div>
            <div class="item">
                Soy un item
            </div>
        </div>
    </div>
</div>