/*NAvbar container*/
#nav-container {
    width: 100%;
    background-color: rgb(41, 127, 255);
}

/*Navbar*/
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

/*Nav web logo*/
#nav-web-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nav-web-logo a {
    font-size: 3rem;
    color: black;
    text-decoration: none;
}

#nav-web-logo a:hover {
    color: white;
}

/*Navbar navigation and user links*/
.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-links ul {
    display: inherit;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links ul li {
    display: inherit;
    align-items: center;
}

.nav-links ul li a {
    text-decoration: none;
    color: black;
    padding: .5rem;
    font-size: 1.5rem;
}

.nav-links ul li a:hover {
    color: white;
}

/*Icons*/
#user-nav-icon {
    width: 2.5rem;
    height: 2.5rem;
}

#menu-btn-down {
    display: none;
    margin: 0px;
    padding: 0px;
}

/*Responsive*/
@media(max-width:770px) {
    #navigation-links {
        display: none;
    }

    .nav-links{
        flex-direction: row;
    }

    #menu-btn-down {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        border: none;
        background: none;
    }

    #menu-btn-down img{
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media(max-width:550px){
    #user-links{
        display: none;
    }

    #navbar{
        justify-content: center;
    }
}